In [1]:
#import libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [7]:
#read my files

df_titles = pd.read_csv('titles.csv')
df_credits = pd.read_csv('credits.csv')

#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [8]:
#create copies of the dataset 

dft = df_titles.copy()
dfc = df_credits.copy()

In [11]:
dft.shape

(5850, 15)

In [9]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [10]:
dft.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [12]:
dfc.shape

(77801, 5)

In [13]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

In [14]:
dfc.isnull().sum()

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

In [26]:
df_1522= dft[dft['release_year'] >= 2015]
df_1522['release_year'].unique()
df_1522.shape

(4729, 15)

In [32]:
directors = dfc[dfc['role'] == 'DIRECTOR']
directors.shape

(4550, 5)

In [34]:
df_combo = pd.merge(left = df_1522, right = directors, on = 'id', how = 'left')
df_combo

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,ts8,Better Call Saul,SHOW,Six years before Saul Goodman meets Walter Whi...,2015,TV-MA,49,"['drama', 'crime']",['US'],6.0,tt3032476,8.8,438575.0,273.296,8.500,NaN,NaN,NaN,NaN
1,ts37143,Alone,SHOW,Hardcore survivalists are put by themselves in...,2015,TV-MA,51,"['reality', 'documentation']",['US'],9.0,tt4803766,8.4,5037.0,26.930,7.000,NaN,NaN,NaN,NaN
2,ts38796,Stranger Things,SHOW,"When a young boy vanishes, a small town uncove...",2016,TV-14,61,"['scifi', 'thriller', 'drama', 'fantasy', 'hor...",['US'],5.0,tt4574334,8.7,1101055.0,2226.231,8.635,NaN,NaN,NaN,NaN
3,ts21867,Schitt's Creek,SHOW,Formerly filthy rich video store magnate Johnn...,2015,TV-14,22,['comedy'],['CA'],6.0,tt3526078,8.5,115758.0,25.254,7.600,NaN,NaN,NaN,NaN
4,ts41766,The Good Place,SHOW,"Eleanor Shellstrop, an ordinary woman who, thr...",2016,TV-14,23,"['scifi', 'romance', 'comedy', 'drama', 'fanta...",['US'],4.0,tt4955642,8.2,152884.0,33.793,8.000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5165,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN,1962840.0,Seyi Babatope,NaN,DIRECTOR
5166,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN,NaN,NaN,NaN,NaN
5167,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,1950416.0,Julian Gaviria,NaN,DIRECTOR
5168,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000,NaN,NaN,NaN,NaN
5169,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,NaN,NaN,NaN,NaN

In [37]:
df_combo['id'].nunique()

4729